body {
  background-color: #fbc547;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 18vh 1rem;
  text-align: center;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.middleman-logo {
  margin-bottom: 1rem;
  width: 10rem;
}

.skjema {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    .field {
        text-align: left;
        padding: {
            left: 5mm;
            right: 5mm;
            bottom: 3mm;
        }

        label {
            display: block;
        }

        input {
            width: 30em;
            text-align: center;
            font-weight: bold;
            color: white;
            background-color: #333;
            border: none;
            border-radius: 1mm;
            height: 2em;
        }
    }
    .actions {
        margin-top: 2mm;
        border-top: 2px solid black;
        padding: 5mm;
        text-align: right;
    }
}
